---
import MainLayout from "../layouts/Layout.astro";
---
<MainLayout titulo="Home">
    <h2>Home</h2>
<h3>Esentials for your life</h3
    +>
Somos unha empresa de productos de alta gama nun rango de precios que calquera peto pode aforrar. 
<img src="" alt="">
<p> Productos non perecedeiros que fan do teu día a día unha experiencia diferente. Contempla con asombro a nosa nova gama de auriculares
    e altavoces cunha calidade de son nova e sorprendente. Por as túas cancións favoritas de Camela ou móntate unha rave na casa. 
</p>
<img src="" alt="">
<p>
    Se o teu é a cociña deleitate coa nosa gama destinada á hostalería. Productos profesionais ao alcance da túa man. Agora con desconto porque
    é a típica remesa que lle mercas a un grupo proveedor pero como funciona xa tan mal todo esta xente que ía abrir un restaurante ao final
    está alugando o local para un AirBnb co que xa non abren de cara ao público e como moito mercan unha cafetera de cápsulas. 1
</p>
</MainLayout>